################################
# General configuration parameters
#
# Name=SENSOR NAME
# ID=SENSOR ID
# Threads=1 or 0
#
# if Threads=0, hogwash will run
# in single threaded mode, otherwise
# it will start a thread for each
# interface and one to process
# packets.
################################

<system>
Name=Hogwash Sensor
ID=1001
Threads=1
AlertHeader=%ac %m/%d/%y %h:%min:%s %sip:%sp->%dip:%dp
</system>

################################
# Specifies an interface to open
#
# Format <interface NAME>
#        Type=INTERFACE TYPE
#        Proto=INTERFACE PROTOCOL
#        </interface>
#
# Currently supported types:
#    linux_raw
#    obsd_bpf
#    osx_bpf
#    tcpdump 
#    solaris_dlpi
#
# for tcpdump interfaces specify
# the name of the tcpdump file
# for the interface name.
#
# Currently supported protocols:
#    Ethernet
#
# Role gives hints for packet
# routing and ARP propigation.
# The Role keywork is optional.
#
# Currently supported roles are:
#  Internal
#  External
#  Normal
#  Honey
################################

<interface eth0>
Type=linux_raw
Proto=Ethernet
Role=Normal
</interface>

#<interface eth1>
#Type=linux_raw
#Proto=Ethernet
#</interface>

################################
# IPLists are just lists of IP
# addresses.  They can be nested
# 
# Format <IPList NAME>
#        IP or CIDR or IPList
#        IP or CIDR or IPList
#        </list>
################################

<IPList WebServers>
0.0.0.0/0
</list>

<IPList DNSServers>
0.0.0.0/0
</list>

<IPList FTPServers>
0.0.0.0/0
</list>

<IPList AllServers>
WebServers
DNSServers
FTPServers
</list>

###############################
# actions are a collection of
# responses
# 
# Format: <action NAME>
#         response
#         response
#         </action>
#
# response=alert console
#   write alert message to the 
#   console
# response=alert file(NAME)
#   write alert messge to a file
# response=alert mysql(user=USER,dbase=DATABASE,host=HOST,pass=PASS,port=PORT,logpacket=[0/1])
#   write alert messge to a mysql database
# response=alert syslog(facility, priority, options)
#   write alert messge to syslog
# response=dump packet(NAME)
#   dump the packet in tcpdump format
#   to a file
# response=email(host, from, to, subject)
#   send out an e-mail with the alert info
# response=drop
#   drop the packet
# response=route sip(...)
#   you probably won't need this one
###############################

<action default>
response=alert console
response=alert file(hogwash.alert)
#response=alert socket(www.logger.com:12345)
#response=alert syslog(facility=LOG_AUTH, priority=LOG_INFO, options=LOG_NDELAY|LOG_PID)
#response=alert mysql(user=hogwash,dbase=hogwash5,host=localhost,port=3306,pass=password,logpackets=1)
response=dump packet(packet.log)
response=drop
</action>

###############################
# Unique web request logging
###############################
#<module WebUnique>
#dbase=hogwash5
#user=hogwash
#password=password
#host=localhost
#servers=WebServers
#logfile=WebUnique.log
#</module>
################################

###############################
# Unique web request logging
###############################
#<module DNSUnique>
#dbase=hogwash5
#user=hogwash
#password=password
#host=localhost
#servers=WebServers
#logfile=WebUnique.log
#</module>
################################

###############################
# All Traffic Summary Logging
###############################
#<module ATS2>
#filename=logs/TEST_%y_%m_%d_%h.ats
#</module>
################################


###############################
# Specify routing options when
# running hogwash in inline mode
#
# Currently supported routing options:
#  SBridge(interface1, interface2)
#    Just pass all the packets.
#  MacFilter(interface, interface, ...)
#    SBridge with network flood protection
#    Supports more than 2 interfaces.
#    Use this if your switches crash.
#  Broadcast()
#    Turn on specific support for 
#    ethernet broadcast packets.
#    Most of the time you won't
#    need this.
#  SIP(INTERFACE IPLIST)
#    Route the given IPs out the
#    given interface.
#  DIP(INTERFACE IPLIST)
#    Route the given IPs out the
#    given interface.
###############################

<routing>
#MacFilter(eth0, eth1)
</routing>

###############################
# Mangling is experimental right 
# now.
###############################
<mangling>
</mangling>
