<system>
Name=Hogwash Development Sensor
ID=1
Threads=0
AlertHeader=%sip:%sp->%dip:%dp 
</system>

<interface eth0>
Type=linux_raw
Proto=Ethernet
</interface>

#<interface icmp.log>
#Type=tcpdump
#Proto=Ethernet
#</interface>

<action default>
#response=alert console
response=alert lsocket(4445)
#response=alert file(logs/hogwash.alert)
</action>

<module Covert>
</module>

